{{ define "main" }}

<section id="home">
  <ul>
    {{ $hp_length := 10 }}
    {{ if isset .Site.Params "homepagelength" }}
      {{ $hp_length = .Site.Params.homepageLength }}
    {{ end }}
    {{ $pages := where site.RegularPages "Section" "in" .Site.Params.mainSections }}
    {{ $paginator := .Paginate $pages $hp_length }}
    {{ range $index, $page := $paginator.Pages }}
    <li {{if eq $index 0}}class="first" {{end}}>
      <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
      {{ partial "aside" . }}
      {{ partial "featured_image" .}}
      <p>{{ .Summary }}</p>
      {{ if .Truncated }}
      <a href="{{ .RelPermalink }}">{{ T "readMore" }}</a>
      {{ end }}
    </li>
    {{ end }}
  </ul>
</section>

{{ template "_internal/pagination.html" . }}

{{ end }}
